
.white-rectangle2 {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0 20px 50px #ffffff;
    z-index: 1;
  }
  
  .signup-header{
    left: 0%;
    top: 40%;
    text-align: center;
    position: relative;
    font-size: 50px;
  }
  .signup-subheader{
    color: #f0f0f0;
    left: 0%;
    top: -1%;
    text-align: center;
    position: relative;
    font-size: 20px;
    margin-top: 0px;
  }
  .blue-rectangle2 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #6983FF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0 20px 50px #6983FF;
    z-index: 3;
    flex-direction: column;
  }
  
  .orange-rectangle2 {
    top: 12%;
    left: 30%;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: inset 10px 10px 10px #ffffff86;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  
  .user-input2 {
    flex-wrap: wrap;
    top: -500%;
    left: 7%;
    margin: 15px;
    padding: 8px;
    border: none;
    height: 40%;
    width: 80%;
    border-radius: 20px;
    border: 2px solid transparent; /* Initial border */
    box-shadow: inset 5px 5px 5px #dbdbdbb4;
    background-color: rgb(255, 255, 255);
    color: rgb(94, 94, 94);
    font-weight: 500;
    font-size: medium;
    position: relative;
  }
  
  .user-input2::placeholder {
    color: #acacac;
    padding: 10px;
  }
  .user-input2:focus {
    outline: none;
    box-shadow: 2px 2px 5px rgba(105, 131, 255, 0.5), inset 5px 5px 5px #dbdbdbb4;
  }
  
  .button-container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -1070px; /* Adjust this value to move the buttons up or down */
  }
  
  .button2 {
    left: 5%;
    width: 150px; /* Set a fixed width for the buttons */
    height: 40px; /* Set a fixed height for the buttons */
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
    position: relative;
  }
  
  .button2:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .button2.clicked {
    box-shadow: none;
  }
  
  
  
  